

.two {
  background-color:$black-hunt;
  color: $white-hunt;
  font-family: 'Open Sans', sans-serif;;
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  text-align: left;
    
    .cubito {
    padding: 100px 20px;
    margin-left: 30px;
    padding-right: 53px;
    width: 100%;
    color: $white-hunt;
    text-align: justify;
    border-style: double;
    border: 5bbbbbpx double $white-hunt;
      font-family: 'Open Sans', sans-serif;

        &:hover
{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}
        
        
        
}

.tti {
  font-family: 'Oswald', sans-serif;
 color: $white-hunt;

}
    
    
    
.txt {
  display: block;
}
}




@import url("https://fonts.googleapis.com/css?family=Fjalla+One");